@use '../../../mixins.scss' as m;

.introduction {
    @include m.d-flex-justify-align();
    padding: 20px;
    max-width: 1440px;
    width: 100%;

    // img {
    //     width: clamp(300px, 50%, 450px);
    //     box-shadow: inset 0px 0px 10px 10px #fffa;
    // }
    .image {
        width: 40%;
        aspect-ratio: 1;
        background-image: url('../../../../public/assets/img/lars_fischer.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: inset 0px -20px 9px -10px #003365;
    }

    .about_me {
        width: 50%;
        @include m.d-flex-justify-align($align: flex-start);
        flex-direction: column;
        gap: 10px;
        h2 {
            margin: 0;
            margin-bottom: 10px;
        }

        .contact_information {
            @include m.d-flex-justify-align($align: flex-start);
            flex-direction: column;
            gap: 10px;
            padding: 20px 0;
            width: 230px;

            .information {
                width: 100%;
                @include m.d-flex-justify-align($justify: space-between);

                a {
                    text-decoration: none;
                    color: #FFFFFF;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .introduction {
        flex-direction: column;

        .image {
            width: 80%;
        }

        .about_me {
            width: 100%;
        }
    }

}