@use '../../../mixins.scss' as m;

.content {
    padding: 20px 80px;
    max-width: 1440px;
    width: 100%;
    border-bottom: 2px solid #860B10;

    h3 {
        margin: 0 0 10px 0;
    }

    .preview_video_content {

        overflow-x: auto;
        @include m.d-flex-justify-align($justify: flex-start);

        gap: 10px;

        iframe {
            width: 500px;
            aspect-ratio: 2;
            border-radius: 10px;
        }
    }
}

@media(max-width: 800px) {
    .content {
        padding: 20px;

        .preview_video_content {

            iframe {
                width: 300px;
            }
        }
    }
}

@media(max-width: 400px) {
    .content {
        padding: 20px 10px;
        .preview_video_content {
            iframe {
                width: 260px;
            }
        }
    }
}