<footer>
    <a href="dashboard">
        <h4>{{ commonInfo()?.name }}</h4>
    </a>
    <div class="imprint_privacy_policy">
        <a href="/imprint">Impressum</a>
        <a href="/privacy-policy">Privacy Policy</a>
    </div>
    <div class="social_media">
        <a class="youtube" href="{{ ownerData()?.youtube_link }}" target="_blank"></a>
        <a class="tiktok" href="{{ ownerData()?.tiktok_link }}" target="_blank"></a>
        <a class="instagram" href="{{ ownerData()?.instagram_link }}" target="_blank"></a>
        <a class="facebook" href="{{ ownerData()?.facebook_link }}" target="_blank"></a>
    </div>
</footer>