@use '../../../../mixins.scss' as m;

footer {
    @include m.d-flex-justify-align($justify: space-between);
    padding: 20px;
    max-width: 1440px;
    width: 100%;

    h4 {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .imprint_privacy_policy {
        @include m.d-flex-justify-align();
        gap: 10px;
    }

    .social_media {
        @include m.d-flex-justify-align();
        gap: 10px;

        a {
            width: 32px;
            height: 32px;
            background-size: contain;
        }

        .youtube {
            background-image: url('../../../../../public/assets/img/youtube.png');
        }

        .tiktok {
            background-image: url('../../../../../public/assets/img/tiktok.png');
        }

        .instagram {
            background-image: url('../../../../../public/assets/img/instagram.png');
        }

        .facebook {
            background-image: url('../../../../../public/assets/img/facebook.png');
        }

        img {
            width: 32px;
        }
    }
}

@media (max-width: 800px) {
    footer {
        flex-direction: column-reverse;
        gap: 15px;

        .social_media {
            gap: 20px;
        }
    }
}