<footer>
    <h4>{{ commonInfo()?.name }}</h4>
    <div class="social_media">
        <a href="/imprint">Impressum</a>
        <a href="/privacy-policy">Privacy Policy</a>
    </div>
    <div class="social_media">
        <a href="">
            <img src="assets/img/youtube.png" alt="">
        </a>
        <a href="">
            <img src="assets/img/tiktok.png" alt="">
        </a>
        <a href="">
            <img src="assets/img/instagram.png" alt="">
        </a>
        <a href="">
            <img src="assets/img/facebook.png" alt="">
        </a>
    </div>
</footer>