@use '../../../mixins.scss' as m;

.content {
    @include m.d-flex-justify-align($align: flex-start);
    flex-direction: column;
    gap: 10px;
    padding: 20px 80px;
    max-width: 1440px;
    width: 100%;
    border-top: 2px solid #860B10;
    border-bottom: 2px solid #860B10;
    min-width: 0;

    h3 {
        margin: 0;
    }

    .dates {
        width: 100%;
        overflow-x: auto;
    }

    .dates__header,
    .dates__row {
        @include m.d-flex-justify-align($justify: flex-start, $align: flex-start);
        gap: 20px;
        padding: 10px 0;
        div {
            min-width: 320px;
        }
    }

    .dates__header {
        font-weight: bold;
    }
}


@media (max-width: 800px) {
    .content {
        padding: 20px 0;
        padding-left: 20px;
    }

    .dates__header {
        display: none;
    }
}