<div class="content">
    <h2>Anstehende Termine</h2>

    @if (dates().length > 0) {
    <div class="dates">

        <div class="dates__header">
            <div>Was passiert</div>
            <div class="width-200">Ort</div>
            <div class="width-150">Instrument</div>
            <div>Wann</div>
            <div class="width-100">Preis</div>
        </div>

        @for (date of dates(); track date.id) {
        <div class="dates__row">
            <div>{{ date.title }}</div>
            <div class="width-200">{{ date.location }}</div>
            <div class="width-150">{{ date.instrument_type }}</div>
            <div>
                {{ formatDateRange(
                date.date_start.toDate(),
                date.date_end.toDate()
                ) }}
            </div>
            <div class="width-100">
                {{ date.price }} {{ date.currency }}
            </div>
        </div>
        }

    </div>
    } @else {
    <div class="dates">
        <div class="dates__row">
            <div>Keine anstehenden Termine</div>
        </div>
    </div>
    }
</div>