@use '../../../mixins.scss' as m;

.content {
    @include m.d-flex-justify-align($align: flex-start);
    flex-direction: column;
    gap: 10px;
    padding: 20px 80px;
    max-width: 1440px;
    width: 100%;

    h3 {
        margin: 0;
    }
}


@media (max-width: 800px) {
    .content {
        border-top: 2px solid #860B10;
        border-bottom: 2px solid #860B10;
        padding: 20px;

    }
}