<app-navbar></app-navbar>

<div class="imprint_container">
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 DDG</p>
    <p>Lars Fischer<br>
        Musikschule Rockin' Amadeus<br>
        Am Ostermoor, 10<br>
        26670 Uplengen <br>
    </p>
    <p>
        <strong>Vertreten durch: </strong>
        <br>
        Lars Fischer<br>
    </p>
    <p>
        <strong>Kontakt:</strong>
        <br>
        Telefon: + 049-1575 0671005
        <br>
        E-Mail: <a>fireball-777@gmx.de</a>
        <br>
    </p>
    <p>Datenschutzerklärung: <a href="https://musikschule.rockin-amadeus.de/privacy-policy"
            target="_blank">https://musikschule.rockin-amadeus.de/privacy-policy</a></p>
    <p>
        <strong>Umsatzsteuer-ID: </strong>
        <br>
        Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: 60523738140
        <br>
        <br>
        <strong>Wirtschafts-ID: </strong>
        <br>
        <br>
    </p>
    <p>
        <strong>Verbraucherstreitbeilegung / Universalschlichtungsstelle</strong>
        <br>
        Wir nehmen nicht an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teil und sind dazu auch
        nicht
        verpflichtet.
    </p>
    <p>Erstellt mit <a href="https://impressum-generator.de" rel="dofollow">Impressum-Generator.de</a>, dem Tool für
        Impressum und <a href="https://impressum-generator.de/datenschutz-generator"
            rel="dofollow">Datenschutz-Erklärung</a>. Nach einer Vorlage der <a
            href="https://www.kanzlei-hasselbach.de/" rel="dofollow">Kanzlei Hasselbach</a>.</p>

</div>

<app-footer></app-footer>