# name: Build and Deploy to All-Inkl FTP

# on:
#   push:
#     branches:
#       - main

# jobs:
#   build-and-deploy:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout
#         uses: actions/checkout@v4

#       - name: Setup Node
#         uses: actions/setup-node@v4
#         with:
#           node-version: 20

#       - name: Install Dependencies
#         run: npm install

#       - name: Create environment file
#         run: |
#           mkdir -p src/environments
#           echo "${{ secrets.ANGULAR_ENVIRONMENT }}" > src/environments/environment.ts

#       - name: Build Angular
#         run: npm run build -- --configuration production

#       - name: Deploy via FTP
#         uses: SamKirkland/FTP-Deploy-Action@v4.3.4
#         with:
#           server: ${{ secrets.FTP_SERVER }}
#           username: ${{ secrets.FTP_USERNAME }}
#           password: ${{ secrets.FTP_PASSWORD }}
#           local-dir: dist/musikschule-amadeus/browser/
#           server-dir: ./
#           dangerous-clean-slate: true
